$page-bg-color-dark: #333333;
$box-bg-color-dark: #141414;
$box-shadow-color-dark: rgba(245, 245, 245, 0.15);
$box-shadow-color-dark-hover: rgba(245, 245, 245, 0.25);
$box-text-color-dark: #f5f5f5;

:root[class~="dark"] {

  .page-bg {
    background-color: $page-bg-color-dark;
  }

  .box-bg {
    background-color: $box-bg-color-dark;
  }

  .box-shadow {
    box-shadow: 0 3px 15px 3px $box-shadow-color-dark;
    transition: box-shadow 300ms ease-in-out;

    &:hover {
      box-shadow: 0 3px 15px 3px $box-shadow-color-dark-hover;
    }
  }

  .box-text-color {
    color: $box-text-color-dark;
  }

}
