.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start-stretch {
  display: flex;
  justify-content: start;
  align-items: stretch;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-center-stretch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
